*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: rgb(182, 106, 106);
    width: 100%;
    height: 50px;
}

/* descendent selector(parent-child) */
header h2{
    color: rgb(206, 153, 8);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    text-align: center;
}

h2:hover{
    color: blanchedalmond;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row{
    background-color: rgb(107, 33, 33);
    width: 100%;
    height: 500px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.col{
    background-color: rgb(187, 157, 76);
    width: 300px;
    height: 350px;
    margin-left: 10px;
}

img{
    height: 250px;
    padding: 10px;
    border-radius: 10% ;
}
h4,h5{
    text-align: center;
    color: rgb(175, 47, 30);
}

#btn{
    color: rgb(229, 233, 16);
    background-color: rgb(163, 93, 75);
    padding: 5px;
    margin-left: 50px;
}

footer,p{
    background-color: rgb(173, 105, 78);
    width: 100%;
    height: 50px;
    color: blanchedalmond;
}

h3{
    color: rgb(209, 212, 13);
    text-align: center;
}

.banner{
    background-image: url(https://i.pinimg.com/originals/67/18/22/671822c2f63dd5f65d8fd15c9710420b.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}

